body {
	background-color: #171717;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}
.postcard {
	background: white;
	width: 500px;
	height: 330px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
}
.postcard-header {
	overflow: hidden;
}
.postcard-header img {
	max-width: 60px;
	float: right;
}
.postcard-body {
	overflow: hidden;
}
input {
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}
.postcard h1 {
	margin: 0;
}
.left-side {
	float: left;
	width: 50%;
}
.right-side {
	float: right;
	width: 50%;
}
.right-side input {
	display: block;
	border: none;
	border-bottom: 1px solid gray;
	width: 250px;
	padding: 8px;
	font-family: "Times New Roman", Times, serif;
}
.postcard-footer {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
button {
	background-color: rgb(167, 162, 162);
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}
h1 {
	font-size: 40px;
}
